#include "zynqmp-adrv9009-zu11eg-reva-adrv2crr-fmc-reva.dts"
#include "zynqmp-adrv9009-zu11eg-revb.dtsi"

/ {
	admv1014_lo: clock@0 {
		compatible = "fixed-clock";

		clock-frequency = <1000000000>;
		clock-output-names = "lo_in";
		#clock-cells = <0>;
	};

	vcm: fixedregulator@0 {
		compatible = "regulator-fixed";
		regulator-name = "vcm";
		regulator-min-microvolt = <1500000>;
		regulator-max-microvolt = <1500000>;
		regulator-boot-on;
	};
};


&dwc3_0 {
	status = "okay";
	dr_mode = "otg";
};

&hmc7044_car {
	adi,pll1-clkin-frequencies = <122880000 30720000 0 38400000>;
	adi,pll1-ref-prio-ctrl = <0xb1>;  // priorities: clkin 1,0,3,2
	adi,pll1-ref-autorevert-enable;
	adi,clkin0-buffer-mode  = <0x07>; // buffer en, AC coupling, 100ohm termination
};

&hmc7044 {
	clocks = <&hmc7044_car 2>;
	clock-names = "clkin1";
};

&fpga_axi {
	axi_spi_1: spi@84000000 {
		reg = < 0x0 0x84000000 0x1000 >;
		compatible = "xlnx,xps-spi-2.00.a";
		bits-per-word = <8>;
		clock-names = "ext_spi_clk", "s_axi_aclk";
		clocks = <&zynqmp_clk 73>, <&zynqmp_clk 73>;
		fifo-size = <16>;
		interrupt-names = "ip2intc_irpt";
		interrupt-parent = <&gic>;
		interrupts = <0 92 IRQ_TYPE_EDGE_RISING>;
		num-cs = <0x1>;
		xlnx,num-ss-bits = <0x1>;
		xlnx,spi-mode = <0>;
		#address-cells = <1>;
		#size-cells = <0>;

		admv1014@0 {
			compatible = "adi,admv1014";
			reg = <0>;
			spi-max-frequency = <1000000>;
			clocks = <&admv1014_lo>;
			clock-names = "lo_in";
			clock-scales = <1 8>;
			vcm-supply = <&vcm>;
			adi,quad-se-mode = <0>;
			adi,parity-en;
			adi,p1db-comp = <3>;
			adi,det-prog = <4>;
			adi,bb-amp-gain-ctrl = <0>;
		};
	};
};